**/node_modules
.git
**/.vscode
.dockerignore
**/*.log
docker-compose.yml
Dockerfile
README.md

# ignore cypress files
**/cypress
**/cypress.json
**/cypress.config.js

# yarn
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.yarnrc
**/.yarn
